/*@media screen and (max-width: 767px){#as{width: 50%;margin: 0 auto;}*/


.clear-fix {
	clear: both;
}


.asd {
	background: rgba(124, 182, 176, 0.77);
	height: 25px;
	margin-top: 5px;
	border-radius: 10px;
	margin-left: 5px;
}

a {
	text-decoration: none;
}

#nav {
	left: -40px;
	position: fixed;
	width: 400px;
	background-color: rgba(0, 0, 0, 0.76);
	/*border-bottom: 4px solid #595d8b;*/
	border-radius: 2px;
	height: 35px;
	/*margin-left: -600px;*/
}

#nav ul {
	width: 200%;
	list-style: none;
	/*margin-left: 400px;*/
	margin-top: 0.5px;
}

#nav li {
	position: relative;
}

#nav > ul > li {
	float: left;
}

#nav > ul > li > a {
	display: inline-block;
	color: white;
	padding: 0 10px;
	line-height: 30px;
}

#nav > ul > li:hover > a {
	background-color: rgba(175, 255, 245, 0.77);
	color: white;
	border-radius: 10px;
}

/* styles for sub menu */
#nav .sub-menu {
	display: none;
	position: absolute;

}

#nav .sub-menu > li > a {
	display: block;
	width: 120px;
	background-color: rgba(89, 158, 169, 0.89);
	color: white;
	padding: 5px 10px;
	border-radius: 10px;
	margin-top: 1px
}

#nav .sub-menu > li:hover > a {
	background-color: rgba(118, 143, 173, 0.77);
}

#nav li:hover > .sub-menu {
	display: block;
}

/* styles for sub-menu under sub-menu */
#nav .sub-menu > li > .sub-menu {
	left: 28px;
	top: 0;
}

svg {
	background: rgba(31, 111, 61, 0.86);
	width: 2%;
	height: 20px;
	margin-top: 10px;
	margin-left: 10px;
	/*margin-left: 10px;*/

}

.nm {
	margin-left: 50px
}

.zxc {
	width: 101.5%;
	margin-left: -10px;
	height: 60%
}


.sdf {
	width: 20%;
	height: 25px
}

.sdf {
	margin-top: 50px;
	margin-left: 50%;
	background: rgba(172, 175, 255, 0.59);;
}


/*@media screen and (max-width: 767px){#nav{width: 300px;margin: 0 auto;}}*/
/*@media screen and (max-width: 767px){#ghj{width: 300px;margin: 0 auto;}}*/